*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url('../img/zyf.jpg');
    background-size: 100% ;
}
.say{
    width: 60%;
    margin:0 auto;
    height:20rem;
    margin-top: 17rem;
}
#uknow{
    color:white;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;

}

